<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Book</title>
</head>
<body>
<h1>Delete Book</h1>
{% for book in books %}
    {% if book.id == book_id|string %}
        <form action='{{ url_for('deleteBook', book_id=book.id) }}' method="post">
            Are you sure you want to delete {{ book.title }}?
            <br/>
            <br/>
            <input type="submit" value='Delete'>
            <a href={{ url_for('showBook') }}>Cancel</a>
        </form>
    {% endif %}
{% endfor %}
</body>
</html>