<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<h1>Edit Book</h1>
<h3>Name:</h3>
{% for book in books %}
    {% if book.id == book_id|string %}
        <form action='{{ url_for('editBook', book_id=book.id) }}' method="post">
            <label>
                <input type="text" style="color: gray" onfocus="this.style.color='#000000'"
                       onblur="this.style.color='#808080'"
                       value='{{ book.title }}'
                       name="editName">
            </label>
            <input type="submit" value="Edit">
            <a href={{ url_for('showBook') }}>Cancel</a>
        </form>
    {% endif %}
{% endfor %}
{#    find the book title based on book_id via get request#}
</body>
</html>