<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Book</title>
</head>
<body>
<h1>New Book</h1>
<h3>Name:</h3>
<form action='{{ url_for('newBook') }}' method="post">
    <label>
        <input type="text" value='' onfocus="this.style.color='#000000'"
               onblur="this.style.color='#808080'" name="newName">
    </label>
    <input type="submit" value="Create">
</form>
</body>
</html>