<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Page</title>
</head>
<body>
<h1>Books</h1>
{% for book in books %}
    <p>{{ book.title }}</p>
    <p><a href={{ url_for('editBook', book_id=book.id ) }}>Edit Books</a></p>
    <p><a href={{ url_for('deleteBook', book_id=book.id) }}>Delete Books</a></p>
    <br/>
{% endfor %}
</body>
</html>